
<mat-list role="list">
  <a mat-list-item role="listitem" routerLink="/admin">Dashboard</a>
  <a mat-list-item role="listitem" routerLink="customers">Müşteriler</a>
  <a mat-list-item role="listitem" routerLink="orders">Siparişler</a>
  <a mat-list-item role="listitem" routerLink="products">Ürünler</a>
  <a mat-list-item role="listitem" routerLink="orders">Kategoriler</a>
  <a mat-list-item role="listitem" routerLink="orders">Rol İşlemleri</a>
  <a mat-list-item role="listitem" routerLink="">Siteyi Gör</a>
</mat-list>
